{% extends 'base.html' %}

{% block title %}Attestation universitaire{% endblock %}

{% block content %}
<h1>Attestation universitaire</h1>
<p>Nom : {{ etudiant.nom }}</p>
<p>Prénom : {{ etudiant.prenom }}</p>
<p>Date de naissance : {{ etudiant.date_naissance }}</p>
<p>Date d'inscription : {{ etudiant.date_inscription }}</p>
<p>Numéro de téléphone : {{ etudiant.num_tel }}</p>
<p>Adresse e-mail : {{ etudiant.email }}</p>
<p>CNE : {{ etudiant.cne }}</p>
<p>CIN : {{ etudiant.cin }}</p>
{% endblock %}
